html {
  overflow: hidden;
  height: 600px;
}

body {
  margin: 0;
  height: 600px;
  width: 400px;
  overflow: hidden;
}

.bot-frame {
  height: 550px;
  width: 100%;
  display: none;
  visibility: hidden;
}

.bot-active {
  display: block;
  visibility: visible;
}

.header {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0% 4%;
  background: #202020;
  color: white;
}

.header h1 {
  font-size: 16px;
  white-space: nowrap;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.button {
  color: #e0e0e0;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  transition: 0.1s all ease-in-out;
}

.button p {
  margin: 0;
}

.button-active {
  color: #46bbff;
}
